In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('orders.csv', sep=',')
df.head(10)

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0
5,2019-06-13,53006,36214,26,Грузинская,2.0,0.0
6,2019-07-07,28982,20651,24,Суши,0.0,1.0
7,2019-08-01,45472,30409,24,Бургеры,37.0,4.0
8,2019-07-03,65358,43034,23,Русская,1.0,0.0
9,2019-09-19,60878,41231,23,Русская,4.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96118 entries, 0 to 96117
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               96118 non-null  object
 1   vendor_id          96118 non-null  int64
 2   chain_id           96118 non-null  int64
 3   city_id            96118 non-null  int64
 4   spec               95733 non-null  object
 5   successful_orders  96118 non-null  float64
 6   fail_orders        96118 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.1+ MB

In [5]:
df.shape[0] * df.shape[1]

672826

In [13]:
df['city_id'].drop_duplicates().shape

(4,)

In [19]:
df.groupby(by = 'date').sum()['successful_orders'].mean()

7051.884297520661

In [25]:
df[df.spec == 'Рыба']['vendor_id'].drop_duplicates().shape

(18,)

In [44]:
df[(df.vendor_id == 40065) & (df.successful_orders < 20)]['date'].\
drop_duplicates().shape

(45,)

In [48]:
df.groupby(by = 'vendor_id').sum().successful_orders.mean()

555.1581001951854

In [53]:
df.groupby(by = 'city_id').sum()

          vendor_id    chain_id  successful_orders  fail_orders
city_id
23       1665308579  1071200093           277744.0      12650.0
24        844894286   559475521           114977.0       7197.0
25       1092137509   714279102           228518.0       8594.0
26        956089020   637769167           232039.0      11625.0

In [55]:
df['orders'] = df['successful_orders'] + df['fail_orders']

In [57]:
df_ = df.groupby(by = 'spec').sum()

In [59]:
df_['abs_fail_orders'] = df_['fail_orders'] / df_['orders']

In [70]:
df_.iloc[df_['abs_fail_orders'].argmax()]

vendor_id            1.533068e+06
chain_id             1.039512e+06
city_id              7.000000e+02
successful_orders    5.000000e+00
fail_orders          2.400000e+01
orders               2.900000e+01
abs_fail_orders      8.275862e-01
Name: Вегетарианское меню, dtype: float64

In [74]:
df1 = df[(df.date < '2019-08-01') & (df.date >= '2019-07-01')].\
groupby(by = 'chain_id').sum()
df2 = df[(df.date < '2019-09-01') & (df.date >= '2019-08-01')].\
groupby(by = 'chain_id').sum()

In [87]:
df_grow = pd.merge(df1, df2, on='chain_id', how='inner')
df_grow['grow'] = df_grow['orders_y'] - df_grow['orders_x']
df_grow.iloc[df_grow['grow'].argmax()]

vendor_id_x            11933986.0
city_id_x                  6994.0
successful_orders_x       11730.0
fail_orders_x               505.0
orders_x                  12235.0
vendor_id_y            12377680.0
city_id_y                  7254.0
successful_orders_y       13065.0
fail_orders_y               845.0
orders_y                  13910.0
grow                       1675.0
Name: 31162, dtype: float64