## map, filter и reduce

Вам предлагается набор из задачек, для каждой из которых решение — одно выражение с использованием функций map, filter и reduce.

### 1. Трансформация выражения (переведите выражение слева в выражение справа):

['12', '25.6', '84,02', '  69-91'] -> [21, 652, 2048, 1996]

In [1]:
import re

def solution1(arg):
    return [int(re.sub('\D', '', string)[-1::-1]) for string in arg]


solution1(['12', '25.6', '84,02', ' 69-91'])

### 2. Трансформация выражения:

zip(range(2, 5), range(3, 9, 2)) -> [6, 15, 28]

In [2]:
def solution2(arg):
    return [i * j for i, j in arg]


solution2(zip(range(2, 5), range(3, 9, 2)))

[6, 15, 28]

### 3. Трансформация выражения:

range(20) -> [0, 2, 5, 6, 8, 11, 12, 14, 17, 18]

In [3]:
def solution3(arg):
    return [i for i in filter(lambda x: x % 6 == 0 or x % 6 == 2 or x % 6 == 5 ,arg)]


solution3(range(20))

[0, 2, 5, 6, 8, 11, 12, 14, 17, 18]

### 4. Трансформация выражения:

['', 25, None, 'python', 0.0, [], ('msu', '1755-01-25')] -> [25, 'python', ('msu', '1755-01-25')]

In [4]:
def solution4(arg):
    return [item for item in filter(lambda x: x, arg)]


solution4(['', 25, None, 'python', 0.0, [], ('msu', '1755-01-25')])

[25, 'python', ('msu', '1755-01-25')]

### 5. Добавьте к каждому элементу списка rooms поле square, показывающее площадь комнаты. Элементы списка rooms ДОЛЖНЫ обновиться!

rooms = [
    {"name": "комната1", "width": 2, "length": 4},
    {"name": "комната2", "width": 2.5, "length": 5.6},
    {"name": "кухня", "width": 3.5, "length": 4},
    {"name": "туалет", "width": 1.5, "length": 1.5},
]

In [12]:
rooms = [ {"name": "комната1", "width": 2, "length": 4},
         {"name": "комната2", "width": 2.5, "length": 5.6},
         {"name": "кухня", "width": 3.5, "length": 4},
         {"name": "туалет", "width": 1.5, "length": 1.5}, ]


def solution5(arg):
    return [*map(lambda room: room.update({'square': room['width'] * room['length']}), arg)]


solution5(rooms)
rooms

[{'name': 'комната1', 'width': 2, 'length': 4, 'square': 8},
 {'name': 'комната2', 'width': 2.5, 'length': 5.6, 'square': 14.0},
 {'name': 'кухня', 'width': 3.5, 'length': 4, 'square': 14.0},
 {'name': 'туалет', 'width': 1.5, 'length': 1.5, 'square': 2.25}]

### 6. Добавьте к каждому элементу списка rooms поле square, показывающее площадь комнаты. Элементы исходного списка rooms НЕ ДОЛЖНЫ обновиться! Порядок элементов в результирующем списке должен совпадать с порядком в исходном списке.

Замечание: запрещается использовать модуль copy.

In [ ]:
rooms = [ {"name": "комната1", "width": 2, "length": 4},
         {"name": "комната2", "width": 2.5, "length": 5.6},
         {"name": "кухня", "width": 3.5, "length": 4},
         {"name": "туалет", "width": 1.5, "length": 1.5}, ]


def solution6(arg):
    return []

### 7. Найдите пересечение всех множеств. Используйте функцию reduce.

[{1, 2, 3, 4, 5}, {2, 3, 4, 5, 6}, {3, 4, 5, 6, 7}] -> {3, 4, 5}

In [14]:
def solution7(arg):
    return {item for s in arg for item in s}


solution7([{1, 2, 3, 4, 5}, {2, 3, 4, 5, 6}, {3, 4, 5, 6, 7}])

{1, 2, 3, 4, 5, 6, 7}

### 8. Посчитайте, сколько раз встречается каждый элемент в списке.

[1, 2, 1, 1, 3, 2, 3, 2, 4, 2, 4] -> {1: 3, 2: 4, 3: 2, 4: 2}

Замечание: запрещается использовать класс Counter из модуля collections.

### 9. Выведите имена студентов, чей GPA > 4.5.

students = [
    {'name': 'Alina', 'gpa': 4.57},
    {'name': 'Sergey', 'gpa': 5.0},
    {'name': 'Nastya', 'gpa': 4.21},
    {'name': 'Valya', 'gpa': 4.72},
    {'name': 'Anton', 'gpa': 4.32},
]

students -> ['Alina', 'Sergey', 'Valya']

### 10. Счастливые билетики по-питерски.

Билетик называется счастливым, если сумма цифр на четных местах равна сумме цифр на нечетных. Из исходного списка выведите только счастливые билетики.

Пример:

['165033', '477329', '631811', '478117', '475145', '238018', '917764', '394286'] -> ['165033', '475145', '238018']


Подсказка

Замечание: разрешается использовать функцию sum.